<%=stylesheet_link_tag "top_level"%>
<%=stylesheet_link_tag "scorecard"%>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');
</style>
<div class = "regular">
  <%=render "shared/sidebar",assignments: @assignments %>
  <div class="content">
    <p class="assignment_title">Leaderboard</p>
    <div class="score_table">
      <%total_possible_score = Question.sum(:score)%>
      <%scoreboard = {}%>
      <%@users.each do |u|%>
        <% cur_user_qs = u.submissions.where(correct: true)%>
        <% cur_score = cur_user_qs.sum { |q| q.question.score}%>
        <%scoreboard[u.name] = cur_score%>
      <%end%>
      <%scoreboard =  scoreboard.sort_by { |key, val| val}.reverse! %>
      <%scoreboard.each do |s|%>
        <p class="score_table_label"><%=s[0]%></p>
        <p class="score_table_score"><%=s[1]%>/<%=total_possible_score%></p>
      <%end%>
    </div>
  </div>
</div>