<%=stylesheet_link_tag "top_level"%>
<%=stylesheet_link_tag "scorecard"%>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');
</style>
<div class = "regular">
  <%=render "shared/sidebar",assignments: @assignments %>
  <div class="content">
    <p class="assignment_title">Prizes</p>
    <div class="prize_table">
      <%total_possible_score = Question.sum(:score)%>
      <p>Choice of dessert</p>
      <p><%=(total_possible_score*0.3).round%> points</p>
      <p>Choice of restaurant for dinner</p>
      <p><%=(total_possible_score*0.55).round%> points</p>
      <p>Canada's Wonderland day when back in Toronto</p>
      <p><%=(total_possible_score*0.8).round%> points</p>
    </div>
  </div>
</div>