
<div class="rushmore regular">
  <%= render "shared/sidebar" , assignments: Assignment.all %>
  <div class="content">
    <h1 id = "rushmore_title">Welcome to Mount Rushmore</h1>

    <img id="rushmore_img">

    
    <%= form_with model: assignment do |a_form|%>
      <p id="president_questions_label">Please give the last name of the 4 presidents, in order from left to right</p>
      <div id="president_questions">
        <div id="rushmore1">
          <%= render "printq", q_code: "RUSH1", assignment: assignment %>
        </div>
        <div id = "rushmore2">
          <%= render "printq", q_code: "RUSH2", assignment: assignment %>
        </div>
        <div id = "rushmore3">
          <%= render "printq", q_code: "RUSH3", assignment: assignment %>
        </div>
        <div id="rushmore4">
          <%= render "printq", q_code: "RUSH4", assignment: assignment %>
        </div>
      </div>

      <div class="rushmore_question">
        <p class="question_label">How many years did it take to build Mt. Rushmore?</p>
        <%= render "printq", q_code: "RUSH5", assignment: assignment %>
      </div>
      <div class="rushmore_question">
        <p class="question_label">Who built Mount Rushmore?</p>
        <%= render "printq", q_code: "RUSH6", assignment: assignment %>
      </div>
      <div class="rushmore_question">
        <p class="question_label">Mt. Rushmore is in which set of hills?</p>
        <%= render "printq", q_code: "RUSH7", assignment: assignment %>
      </div>
      <div class="rushmore_question">
        <p class="question_label">Who has the longest nose on Mt. Rushmore?</p>
        <%= render "printq", q_code: "RUSH8", assignment: assignment %>
      </div>
      <div class="rushmore_question">
        <p class="question_label">In 1937, Congress introduced a bill that would have added which woman to Mt. Rushmore?</p>
        <%= render "printq", q_code: "RUSH9", assignment: assignment %>
      </div>
      <div class="center">
        <%= a_form.submit "Submit", class: "submit_button" %>
      </div>
    <%end%>

    <%= render "score",assignment: assignment%>
  </div>
</div>