<%=stylesheet_link_tag "top_level"%>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');
</style>
<%case @assignment.title %>
<% when "Mount Rushmore"%>
<%= render "a1", assignment: @assignment %>
<% when "State The State"%>
<%= render "a2", assignment: @assignment %>
<% when "Devils Tower"%>
<%= render "a3", assignment: @assignment %>
<% when "Yellowstone Wildlife"%>
<%= render "a4", assignment: @assignment %>
<% when "Some Like It Hot!"%>
<%= render "a5", assignment: @assignment %>
<% when "Fort Yellowstone"%>
<%= render "a6", assignment: @assignment %>
<% when "Mammoth Hot Springs"%>
<%= render "a7", assignment: @assignment %>
<% when "Grand Teton Scavenger Hunt"%>
<%= render "a8", assignment: @assignment %>
<% when "Dinosaur National Monument"%>
<%= render "a9", assignment: @assignment %>
<% when "We're Off To See the Wizard!"%>
<%= render "a10", assignment: @assignment %>
<% else %>
  <div>No valid assignment Found!</div>
<%end%>


