<%=stylesheet_link_tag "top_level"%>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');
</style>
<div class = "regular">
  <%=render "shared/sidebar", assignments: Assignment.all%>
  <div class="content">
    <p class="assignment_title"><%=current_user.name%>'s Diary</p>
    <%= form_with model: @diary do |form|%>
      <%=form.hidden_field :user_id, value: current_user.id%>
      <div class="diary_form">
        <%= form.label :date, class: "diary_label", id: "diary_label_date"%>
        <%= form.date_field :date, id: "diary_date"%>
        <p class="diary_label" id="diary_label_did"> What I did today</p>
        <%= form.text_area :did, id: "diary_did"%>
        <p class="diary_label" id="diary_label_learnt">Something I learnt today</p>
        <%= form.text_area :learnt, id: "diary_learnt"%>
      </div>
      <div class="center">
        <%= form.submit "Submit", class: "submit_button", id: "diary_submit_button" %>
      </div>
    <%end%>
    </div>
  </div>
</div>